<div class="contrainer p-4">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4" >Welcome {{user.fullname}}</h1>
            <hr class="my-4">
            <p class="lead" style="color:rgb(150, 150, 158);">Project Web</p>
            <a href="/links" class="btn btn-info btn-lg">Saved your links</a>
        </div>
    </div>
</div>
